Repository thePegasusai/spatial-tag, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @spatial-team, @ios-team, @devops-team, @dba-team, @security-team, @tech-writers

Add public-samples/spatial-tag-4nxz86/src/backend/commerce-service/src/api/grpc_server.py
  src/backend/commerce-service/src/api/grpc_server.py
Owners: @project-leads

Add public-samples/spatial-tag-4nxz86/src/backend/commerce-service/src/config/settings.py
  src/backend/commerce-service/src/config/settings.py
Owners: @project-leads

Add public-samples/spatial-tag-4nxz86/src/backend/commerce-service/src/models/purchase.py
  src/backend/commerce-service/src/models/purchase.py
Owners: @project-leads

Add public-samples/spatial-tag-4nxz86/src/backend/commerce-service/src/models/wishlist.py
  src/backend/commerce-service/src/models/wishlist.py
Owners: @project-leads

Add public-samples/spatial-tag-4nxz86/src/backend/commerce-service/src/services/payment.py
  src/backend/commerce-service/src/services/payment.py
Owners: @project-leads

Add public-samples/spatial-tag-4nxz86/src/backend/commerce-service/src/services/stripe_client.py
  src/backend/commerce-service/src/services/stripe_client.py
Owners: @project-leads

Add public-samples/spatial-tag-4nxz86/src/backend/commerce-service/src/services/wishlist.py
  src/backend/commerce-service/src/services/wishlist.py
Owners: @project-leads

Add public-samples/spatial-tag-4nxz86/src/backend/commerce-service/tests/conftest.py
  src/backend/commerce-service/tests/conftest.py
Owners: @project-leads

Add public-samples/spatial-tag-4nxz86/src/backend/commerce-service/tests/integration/test_wishlist.py
  src/backend/commerce-service/tests/integration/test_wishlist.py
Owners: @project-leads

Add public-samples/spatial-tag-4nxz86/src/backend/commerce-service/tests/unit/test_payment.py
  src/backend/commerce-service/tests/unit/test_payment.py
Owners: @project-leads

Add public-samples/spatial-tag-4nxz86/src/backend/k8s/api-gateway-deployment.yaml
  src/backend/k8s/api-gateway-deployment.yaml
Owners: @project-leads

Add public-samples/spatial-tag-4nxz86/src/backend/k8s/commerce-deployment.yaml
  src/backend/k8s/commerce-deployment.yaml
Owners: @project-leads

Add public-samples/spatial-tag-4nxz86/src/backend/k8s/configmap.yaml
  src/backend/k8s/configmap.yaml
Owners: @project-leads

Add public-samples/spatial-tag-4nxz86/src/backend/k8s/ingress.yaml
  src/backend/k8s/ingress.yaml
Owners: @project-leads

Add public-samples/spatial-tag-4nxz86/src/backend/k8s/secrets.yaml
  src/backend/k8s/secrets.yaml
Owners: @project-leads

Add public-samples/spatial-tag-4nxz86/src/backend/k8s/spatial-deployment.yaml
  src/backend/k8s/spatial-deployment.yaml
Owners: @project-leads

Add public-samples/spatial-tag-4nxz86/src/backend/k8s/tag-deployment.yaml
  src/backend/k8s/tag-deployment.yaml
Owners: @project-leads

Add public-samples/spatial-tag-4nxz86/src/backend/k8s/user-deployment.yaml
  src/backend/k8s/user-deployment.yaml
Owners: @project-leads

Add public-samples/spatial-tag-4nxz86/src/backend/migrations/000001_init_schema.down.sql
  src/backend/migrations/000001_init_schema.down.sql
Owners: @backend-team, @dba-team

Add public-samples/spatial-tag-4nxz86/src/backend/migrations/000001_init_schema.up.sql
  src/backend/migrations/000001_init_schema.up.sql
Owners: @backend-team, @dba-team

Add public-samples/spatial-tag-4nxz86/src/backend/migrations/000002_add_spatial_indexes.down.sql
  src/backend/migrations/000002_add_spatial_indexes.down.sql
Owners: @backend-team, @dba-team

Add public-samples/spatial-tag-4nxz86/src/backend/migrations/000002_add_spatial_indexes.up.sql
  src/backend/migrations/000002_add_spatial_indexes.up.sql
Owners: @backend-team, @dba-team

Add public-samples/spatial-tag-4nxz86/src/backend/migrations/000003_add_user_status.down.sql
  src/backend/migrations/000003_add_user_status.down.sql
Owners: @backend-team, @dba-team

Add public-samples/spatial-tag-4nxz86/src/backend/migrations/000003_add_user_status.up.sql
  src/backend/migrations/000003_add_user_status.up.sql
Owners: @backend-team, @dba-team

Add public-samples/spatial-tag-4nxz86/src/backend/proto/commerce.proto
  src/backend/proto/commerce.proto
Owners: @backend-team, @ios-team

Add public-samples/spatial-tag-4nxz86/src/backend/proto/spatial.proto
  src/backend/proto/spatial.proto
Owners: @backend-team, @ios-team

Add public-samples/spatial-tag-4nxz86/src/backend/proto/tag.proto
  src/backend/proto/tag.proto
Owners: @backend-team, @ios-team

Add public-samples/spatial-tag-4nxz86/src/backend/proto/user.proto
  src/backend/proto/user.proto
Owners: @backend-team, @ios-team

Add public-samples/spatial-tag-4nxz86/src/backend/spatial-engine/Cargo.toml
  src/backend/spatial-engine/Cargo.toml
Owners: @spatial-team

Add public-samples/spatial-tag-4nxz86/src/backend/spatial-engine/Dockerfile
  src/backend/spatial-engine/Dockerfile
Owners: @spatial-team

Add public-samples/spatial-tag-4nxz86/src/backend/spatial-engine/README.md
  src/backend/spatial-engine/README.md
Owners: @spatial-team

Add public-samples/spatial-tag-4nxz86/src/backend/spatial-engine/src/config.rs
  src/backend/spatial-engine/src/config.rs
Owners: @project-leads

Add public-samples/spatial-tag-4nxz86/src/backend/spatial-engine/src/lib.rs
  src/backend/spatial-engine/src/lib.rs
Owners: @project-leads

Add public-samples/spatial-tag-4nxz86/src/backend/spatial-engine/src/main.rs
  src/backend/spatial-engine/src/main.rs
Owners: @project-leads

Add public-samples/spatial-tag-4nxz86/src/backend/spatial-engine/src/grpc/mod.rs
  src/backend/spatial-engine/src/grpc/mod.rs
Owners: @project-leads

Add public-samples/spatial-tag-4nxz86/src/backend/spatial-engine/src/grpc/server.rs
  src/backend/spatial-engine/src/grpc/server.rs
Owners: @project-leads

Add public-samples/spatial-tag-4nxz86/src/backend/spatial-engine/src/models/location.rs
  src/backend/spatial-engine/src/models/location.rs
Owners: @project-leads

Add public-samples/spatial-tag-4nxz86/src/backend/spatial-engine/src/models/mod.rs
  src/backend/spatial-engine/src/models/mod.rs
Owners: @project-leads

Add public-samples/spatial-tag-4nxz86/src/backend/spatial-engine/src/models/spatial_index.rs
  src/backend/spatial-engine/src/models/spatial_index.rs
Owners: @project-leads

Add public-samples/spatial-tag-4nxz86/src/backend/spatial-engine/src/services/lidar.rs
  src/backend/spatial-engine/src/services/lidar.rs
Owners: @project-leads

.github/CODEOWNERS:

*                               @project-leads

# Backend services ownership
src/backend/*                   @backend-team

# Spatial engine specialized ownership
src/backend/spatial-engine/*    @spatial-team

# iOS application ownership
src/ios/*                       @ios-team

# Infrastructure configuration ownership
infrastructure/*                @devops-team

# CI/CD workflow ownership
.github/workflows/*             @devops-team

# Protocol buffer definitions requiring multi-team review
src/backend/proto/*             @backend-team @ios-team

# Database migrations requiring DBA review
src/backend/migrations/*        @backend-team @dba-team

# Security-sensitive components
src/backend/security/*          @security-team @backend-team

# All protocol buffer files regardless of location
*.proto                         @backend-team @ios-team

# Technical documentation
docs/*                          @tech-writers @project-leads
